// Variables
$color-primary: #D63C3C;
$color-secondary: whitesmoke;

$color-type-grass: #6CA857;
$color-type-poison: #9972CA;

$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;